<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Search</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
function submit_button(){
  var key = $( "input[name='key']" );
  var term = $( "input[name='term']");
  var columns = $('#columninput');
  window.location.href = "?column_header=" + key.val() + "&value=" + term.val() +"&list_of_columns=" + columns.val();

}
function selectElementContents(el) {
    var body = document.body, range, sel;
    if (document.createRange && window.getSelection) {
        range = document.createRange();
        sel = window.getSelection();
        sel.removeAllRanges();
        try {
            range.selectNodeContents(el);
            sel.addRange(range);
        } catch (e) {
            range.selectNode(el);
            sel.addRange(range);
        }
    } else if (body.createTextRange) {
        range = body.createTextRange();
        range.moveToElementText(el);
        range.select();
    }
    document.execCommand("Copy");
}    
 $( function() {
    $( "input[name='key']" ).autocomplete({
      source: "/auto/",
      minLength: 1,
    });
    $( "input[name='term']" ).autocomplete({
      source: function(request, response) {
            $.get("/auto/?key=" + $(this.element).parents('form').children("input[name='key']").val() + "&term=" + $(this.element).val(), 
                function (data) { response(data); return data; })
      },
      minLength: 1,
    });
  });
  </script>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>

